@import 'neat/neat-helpers';


//$visual-grid: true !global;
//$visual-grid-opacity: 0.4 !default;

$column: golden-ratio(1em, 6) !global;
$gutter: golden-ratio(1em, -6) !global;
$grid-columns: 4 !global;
$max-width: 100%;

$tablet: new-breakpoint(min-width 700px 8);

$sm-desktop: new-breakpoint(min-width 900px 12);

$lg-desktop: new-breakpoint(min-width 1100px 12);