#page {
	@include outer-container;
	height: 100%;
	min-height: 100%;
}
.content-area {
	
}

.site-content {
	padding: 0;
	@include span-columns(4);

	@include media($tablet) {
		@include span-columns(8);
	}
	@include media($sm-desktop) {
		@include span-columns(9);
		@include omega;	
	}
	@include media($lg-desktop) {
		@include span-columns(10);
		@include omega;
	}
	
}

.content-area {
	padding: 0 golden-ratio(1em, -1);
	@include span-columns(4 of 4);

	@include media($tablet) {
	  @include span-columns(5 of 8);
	}
	@include media($sm-desktop) {
	  @include span-columns(6 of 9);
	  height: 84%;
	}	
	@include media($lg-desktop){
		@include span-columns(6 of 10);
		padding: 0 golden-ratio(1em, 1);
		height: 84%;
	}
	
}

.site-content .widget-area {
	padding: 0 golden-ratio(1em, -1);
	@include span-columns(4 of 4);
	
	@include media($tablet) {
	  @include span-columns(3 of 8);
	}
	@include media($sm-desktop) {
	  @include span-columns(3 of 9);
	  height: 84%;
	  
	}
	@include media($lg-desktop) {
		@include span-columns(4 of 10);
		height: 84%;
		padding: 0 golden-ratio(1em, 1);
	}
	
}

.site-footer {
	
}