#page {
	@include outer-container;
	height: 100%;
	min-height: 100%;
	background-color: $dawn-grey;
}


.site-content {
	padding: 0;
	//height: 100%;
	@include span-columns(4);

	@include media($tablet) {
		@include span-columns(8);
	}
	@include media($sm-desktop) {
		@include span-columns(9);
		@include omega;	
	}
	@include media($lg-desktop) {
		@include span-columns(10);
		@include omega;
	}
	
}

.content-area {
	
	@include span-columns(4 of 4);

	@include media($tablet) {
	  @include span-columns(5 of 8);
	}
	@include media($sm-desktop) {
	  @include span-columns(6 of 9);
	  height: 100%;
	}	
	@include media($lg-desktop){
		@include span-columns(6 of 10);
		height: 100%;
	}

	article {
		background-color: $white;
		padding: golden-ratio(1rem, 1) golden-ratio(1rem, -1);
		margin: golden-ratio(1rem, 1) golden-ratio(1rem, -1);
		box-shadow: 3px 5px 0 transparentize($rangoon-green, .99);
		@include media($tablet) {
			margin: golden-ratio(1rem, 1) golden-ratio(1rem, -1) golden-ratio(1rem, 1) golden-ratio(1rem, 1);
		}
		@include media($sm-desktop) {
			margin: golden-ratio(1rem, 1) golden-ratio(1rem, -1) golden-ratio(1rem, 1) golden-ratio(1rem, 1);
		}
		@include media($lg-desktop) {
			padding: golden-ratio(1rem, 1) golden-ratio(1rem, 1);
			margin: golden-ratio(1rem, 1) golden-ratio(1rem, 1);
		}
	}

	

}

.site-content .widget-area {
	
	@include span-columns(4 of 4);
	
	@include media($tablet) {
	  @include span-columns(3 of 8);
	}
	@include media($sm-desktop) {
	  @include span-columns(3 of 9);
	  height: 84%;
	  
	}
	@include media($lg-desktop) {
		@include span-columns(4 of 10);
		height: 84%;
		
	}
	
}

.site-footer {
	
}