.site-header {
	
	@include blue-background;

	@include span-columns(4);
	
	@include media($tablet) {
	  @include span-columns(8);

	}
	@include media($sm-desktop) {
	  @include span-columns(3);
	  @include omega;
	  height: 100%;
	  min-height: 100vh;
	  
	}
	@include media($lg-desktop) {
	  @include span-columns(2);
	  @include omega;
	}

	
}
.site-branding {
	float: left;
	width: 50%;
	margin: 0 0 0 golden-ratio(1rem, -1);
	//padding: 0 0 0 golden-ratio(1rem, 1);
	@include media($lg-mobile) {
		width: 70%;
		margin: 0 0 0 (golden-ratio(1rem, -1) * 2);
		padding: 0 0 0 golden-ratio(1rem, 1);
	}
	@include media($tablet) {
		margin: 0 0 0 (golden-ratio(1rem, 1) * 2);
		padding: 0 0 0 golden-ratio(1rem, -1);
	}
	@include media($sm-desktop) {	
		width:100%;
		margin:0;
		padding: golden-ratio(1rem, 1) golden-ratio(1em, 1) 0 golden-ratio(1rem, 1);
		text-align: center;
	}
}
.site-title {
	font-size: em(18);
	margin-top: golden-ratio(18px, -2);
	margin-bottom: golden-ratio(18px, -2);
	@include media($sm-desktop) {
		margin-top: 0;
	}
}
.site-description {
	display: none;
	margin-top: 0;
	font-size: em(12);
	font-weight: 400;
	line-height: 1.5;
	color: mix(lighten($dawn-pink, 5%), $chathams-blue, 50%);
	@include media($lg-mobile) {
		display: block;
	}
}