.site-header {
	
	@include blue-background;

	@include span-columns(4);
	
	@include media($tablet) {
	  @include span-columns(8);

	}
	@include media($sm-desktop) {
	  @include span-columns(3);
	  
	  height: 100%;
	}
	@include media($lg-desktop) {
	  @include span-columns(2);
	}

	
}
.site-branding {
	float: left;
	width: 70%;
	padding: 0 0 0 golden-ratio(1em, -1);
	@include media($sm-desktop) {	
		width:100%;
		padding: 0 golden-ratio(1em, 1);
		text-align: center;
	}
}
.site-title {
	font-size: em(18);
	margin-top: golden-ratio(18px, -2);
	margin-bottom: golden-ratio(18px, -2);
	@media($sm-desktop) {
		margin-top: $h1-margin-top;
	}
}
.site-description {
	margin-top: 0;
	font-size: em(12);
	font-weight: 400;
	line-height: 1.5;
	color: mix(lighten($dawn-pink, 5%), $chathams-blue, 50%);

}