p, ul, ol, pre, table, blockquote {
  //margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

//from twentyfourteen
blockquote {
	color: #767676;
	font-size: 1.1875em;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2631578947;
	//margin-bottom: 2 * $base-line-height;
	margin-bottom: $base-line-height;
	
	@include media($lg-mobile) {
		font-size: 1.1875em;
	}
}
//from twentyfourteen
blockquote cite,
blockquote small {
	color: #2b2b2b;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
}
//from twentyfourteen
blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}
//from twentyfourteen
blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(1.5);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	//white space wrap hack
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


code, kbd, tt, var {
	@include font-size(1.5);
	font-family: $font__code;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}