.widget {
	padding: golden-ratio(1rem, 1) golden-ratio(1rem, -1);
	margin: golden-ratio(1rem, 1) golden-ratio(1rem, -1) golden-ratio(1rem, 1) golden-ratio(1rem, -1);
	background-color: $ghost;
	box-shadow: 3px 5px 0 transparentize($rangoon-green, .99);

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
	@include media($tablet) {
		margin: golden-ratio(1rem, 1) golden-ratio(1rem, 1) golden-ratio(1rem, 1) golden-ratio(1rem, -1);
	}
	@include media($sm-desktop) {
		margin: golden-ratio(1rem, 1) golden-ratio(1rem, 1) golden-ratio(1rem, 1) golden-ratio(1rem, -1);
	}

	@include media($lg-desktop) {
		padding: golden-ratio(1rem, 1) golden-ratio(1rem, 1);
		margin: golden-ratio(1rem, 1) golden-ratio(1rem, 1) golden-ratio(1rem, 1) 0;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}