.widget {
	padding: golden-ratio(1rem, 1) golden-ratio(1rem, -1);
	margin: golden-ratio(1rem, 1) golden-ratio(1rem, -1) golden-ratio(1rem, 1) golden-ratio(1rem, -1);
	//margin: 0 0 1.5em;
	background-color: $ghost;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	@include media($lg-desktop) {
		padding: golden-ratio(1rem, 1) golden-ratio(1rem, 1);
		margin: golden-ratio(1rem, 1) golden-ratio(1rem, 1) golden-ratio(1rem, 1) 0;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}