@import "burger";

// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Box model
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model; // Safari <= 7
	-moz-box-sizing: $box-model; // Firefox <= 19
	box-sizing: $box-model;
}

// Border radius
@mixin border-radius($radius) {
	background-clip: padding-box; /* stops bg color from leaking outside the border: */
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

//Color Scheme Mixins

@mixin blue-background() {
	background-color: $chathams-blue;
	color: lighten($dawn-pink, 5%);
	a {
		color: lighten($dawn-pink, 5%);
	}
}


// DEBUTTON - strip a button element of all native browser styles

@mixin debutton() {
	border: 0;
	border-color: transparent;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
	-webkit-appearance: none;
	text-shadow: none;
	$states: (hover, active, focus);
	@each $state in $states {
		&:#{$state} {
			background: transparent;
			box-shadow: none;
			text-shadow: none;
			border: 0;
			border-color: transparent;
			outline-color: transparent;
			outline-width: 0;
			outline-style: none;
			}
	}
}