hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	background-color: $dawn-grey;
	color: darken($dawn-grey, 60%);
	border: 1px solid darken($dawn-grey, 5%);
	padding: golden-ratio(1rem, -1);
	font-size: .85em;
	margin: 0 0 $base-line-height;
	
	&.alignleft,
	&.alignright {
		@include center-block;
		float: none;
		margin-bottom: $base-line-height;
	}
}
figure + * {
	clear: both;

}

@import "tables";