//foundation 5 greyscale
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$greyscale: (
	$white,
	$ghost,
	$snow,
	$vapor,
	$white-smoke,
	$silver,
	$smoke,
	$gainsboro,
	$iron,
	$base,
	$aluminum,
	$jumbo,
	$monsoon,
	$steel,
	$charcoal,
	$tuatara,
	$oil,
	$jet,
	$black
);

//kuler theme aqua-1
$chathams-blue: #184774;
$jelly-bean: #23768E;
$emerald: #38D64E;
$dawn-pink: #F4EEE6;
$dawn-grey: mix($vapor, $dawn-pink, 75%);
$rangoon-green: #0C0F0B;

$color__background-body: $white;
$color__background-screen: $ghost;
$color__background-hr: $iron;
$color__background-button: $gainsboro;
$color__background-pre: $smoke;
$color__background-ins: $vapor;

$color__text-screen: $rangoon-green;
$color__text-input: $steel;
$color__text-input-focus: $jet;
$color__link: $jelly-bean;
$color__link-visited: $chathams-blue;
$color__link-hover: darken($jelly-bean, 20%);
$color__text-main: $tuatara;

$color__border-button: $iron $iron mix($iron, $base);
$color__border-button-hover: $iron mix($iron, $base) $base;
$color__border-button-focus: $base mix($iron, $base) mix($iron, $base);
$color__border-input: $iron;
$color__border-abbr: $steel;