$font__main: Lato, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.618;
$font__line-height-pre: 1.6;
$font__icon: "foundation-icons";

/* vars from http://www.gridlover.net/ */
// golden ratio version
// $base-font-size: 1rem;
// $base-line-height: 1.618rem;

// $h1-font-size: 4.25rem;
// $h1-line: 1.618rem;
// $h1-lines: 3;
// $h1-line-height: $h1-line * $h1-lines;
// $h1-margin-top: 2 * $h1-line;
// $h1-margin-bottom: 1 * $h1-line;

// $h2-font-size: 2.625rem;
// $h2-line: 1.618rem;
// $h2-lines: 2;
// $h2-line-height: $h2-line * $h2-lines;
// $h2-margin-top: 2 * $h2-line;
// $h2-margin-bottom: 1 * $h2-line;

// $h3-font-size: 1.618rem;
// $h3-line: 1.618rem;
// $h3-lines: 1;
// $h3-line-height: $h3-line * $h3-lines;
// $h3-margin-top: 1 * $h3-line;
// $h3-margin-bottom: 1 * $h3-line;

// $h4-font-size: 1rem;
// $h4-line: 1.618rem;
// $h4-lines: 1;
// $h4-line-height: $h4-line * $h4-lines;
// $h4-margin-top: 1 * $h4-line;
// $h4-margin-bottom: 1 * $h4-line;


// 3:4 version

$base-font-size: rem(16px);
$base-line-height: rem(26px);
$measure: rem(672px);

$h1-font-size: rem(38px);
$h1-line: rem(26px);
$h1-lines: 2;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: rem(28px);
$h2-line: rem(26px);
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: rem(21px);
$h3-line: rem(26px);
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: rem(16px);
$h4-line: rem(26px);
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;